.productDisplay{
    display: flex;
    margin: 10px 120px;
}
.productdisplay-left{
    display: flex;
    gap: 14px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.productdisplay-img-list img{
    height: 105px;
    width: 320px;
}
.productdisplay-main-img{
    width: 1000px;
    height: 443px;
}
.productdisplay-right{
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #4d4d4d;
    font-size: 23px;
    font-weight: 700;
}
.productdisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 3px;
    gap: 8px;
    color: #2c2c2c;
    font-size: 14px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 10px 0px;
    gap: 25px;
    font-size: 22px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #919191;
    text-decoration: line-through;

}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 20px;
    color: #757575;
    font-size: 18px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 15px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 8px 8px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
.productdisplay-right button{
    padding: 10px 5px;
    width: 130px;
    font-size: 13px;
    font-weight:600 ;
    color: white;
    background: #FF4141;
    margin-bottom: 10px;
    border: none;
    outline: none;
}
.productdisplay-right-category{
    margin-top:2px ;
    font-size: 15px;


}
.productdisplay-right-category span{
    font-weight: 600;
}